#crossword {
   border-spacing: 0px;
   border-collapse: collapse;
}

.word {
  vertical-align: middle;
  text-align: center;
  margin: 0;
  padding: 0;
}

.cell {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  margin: 0px;
  padding: 0px;
}

.letter {
  border: 1px solid black;
}

.keyword {
  border-width: 2px;
  background-color: gray;
}

.filler {
  height: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 18px;
}

.word:first-of-type .keyword {
  border-top-width: 1px;
}

.word:first-of-type .keyword .filler {
  border-top: 1px solid black;
}

.word:last-of-type .keyword {
  border-bottom-width: 1px;
}

.word:last-of-type .keyword .filler {
  border-bottom: 1px solid black;
}
